.slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 0;
}

.slick-dots .slick {
    height: 80px;
}

a {

    text-decoration: none;
}

.all-inputs input {

    display: none;
}

.title1 {
    background: url("../public/images/title1.png") no-repeat 50% 50%;
    background-size: 100% 100%;
}

.title2 {
    background: url("../public/images/title2.png") no-repeat 50% 50%;
    background-size: 100% 100%;
}

.title3 {
    background: url("../public/images/title3.png") no-repeat 50% 50%;
    background-size: 100% 100%;
}

.title4 {
    background: url("../public/images/title4.png") no-repeat 50% 50%;
    background-size: 100% 100%;
}

.bg-promotional {
    background: url("../public/images/home_background.png") no-repeat 50% 50%;
    background-size: 100% 100%;
}

.bg-promotional-80 {
    background: url("../public/images/home_background.png") no-repeat 50% 50%;
    background-size: 100% 100%;

}

.bg-link-head {
    background-size: 100% 100%;
    background: rgba(0, 0, 0, 0.5) url("../public/images/linkhead.png") no-repeat 50% 50%;
}

.news-slick .slick-dots {
    gap: 15px !important;
}

.scroll__custom::-webkit-scrollbar {
    width: 2px !important;
    height: 2px !important;
    display: none;
}

/* Track */
.scroll__custom::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scroll__custom::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.scroll__custom::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mt--200 {
    margin-top: -180px !important;
}

@media screen and (max-width: 480px) {
    .mt--200 {
        margin-top: 0px !important;
    }
}


.hidden-my-slick .slick-arrow {
    display: none !important;
}


.twitch .twitch-button {
    position: absolute;
    top: 43%;
    box-shadow: none;
    border-radius: 5px;
    width: 36px;
    height: 36px;
    background-color: transparent;
}

.twitch .twitch-button.right {
    right: 0%;
}

/*.react-stacked-center-carousel {*/
/*    padding: 20px 0;*/
/*}*/

.twitch-card {
    transition: all 300ms ease;
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
    position: relative;
    background-color: #8f8e8e;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05);
}

.twitch-card:hover {
    transform: scale(1.05);
}

.react-stacked-center-carousel-slide-0 .twitch-card {
    cursor: default;
}

.react-stacked-center-carousel-slide-0 .twitch-card:hover {
    transform: none;
}

.fill {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.twitch-card .card-overlay {
    user-select: none;
    position: absolute;
    background-color: #00000099;
    transition: all 300ms ease;
}

.twitch-card:hover .card-overlay {
    background-color: #0000002d;
}

.react-stacked-center-carousel-slide-0 .card-overlay {
    background-color: #00000099 !important;
}

.twitch-card .cover-image {
    object-fit: cover;
}

.twitch-card .cover {
    position: absolute;
    transition: opacity 300ms ease;
}

.react-stacked-center-carousel-slide-0 .twitch-card .cover {
    transition: opacity 300ms ease, z-index 0ms 300ms;
}

.twitch-card .cover.on {
    opacity: 1;
    z-index: 1;
}

.twitch-card .cover.off {
    opacity: 0;
    z-index: -1;
}

.twitch-card .detail {
    display: flex;
}

.twitch-card .video {
    width: 70%;
}

.twitch-card .discription {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.twitch-card .avatar {
    background-color: #ff6161;
}

.twitch-card p {
    cursor: auto;
    padding: 0 12px;
    font-size: 14px;
    line-height: 150%;
}


/*.my-bg-gradient {*/
/*    background: linear-gradient(white 0%, white 75%);*/
/*}*/

.rsme-instagram-embed {
    margin: auto;
}